---
layout: default
permalink: "/about/"
title: About
head_title: ''
description: ''
amp_components:
- amp-carousel
- amp-fit-text
carousel:
- assets/uploads/about-balloons.png
- assets/uploads/about-our-community.png

---
{% for _page in site.pages %}
{% if _page.settings %}
{% assign settings = _page %}
{% endif %}
{% endfor %}

<section>
  <amp-carousel width="1280" height="720" layout="responsive" type="slides" autoplay loop animate-in="fade-in"
    animate-in-duration=".5s" delay="4000">
    {% for image in page.carousel %}
    <div class="slide">
      <amp-img src="{{image}}" width="400" height="250" layout="responsive" animate-in="fade-in"
        animate-in-duration=".5s" alt="a sample image"></amp-img>
      <div style="width: 80%; position:absolute; top:10%; left: 10%;">
        <amp-fit-text class="text-light text-center font-weight-bold display-2" width="200" height="50"
          layout="responsive">
          ABOUT
        </amp-fit-text>
      </div>
    </div>
    {% endfor %}
  </amp-carousel>
</section>


<!-- Logo Section -->
<section class="bg-brand-primary-dark">
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col p-4 text-center">
        <button type="button" class="btn btn-outline-light btn-lg rounded-0 bg-brand-primary-dark">
          <h2 class="display-4">OUR STORY</h2>
        </button>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-sm-6 col-md-4 text-center">
        <amp-img src="/assets/uploads/about-hat.png" width="200" height="300" layout="responsive"
          alt="and another sample image"></amp-img>
      </div>
      <div class="col-sm-6 col-md-4 text-center">
        <amp-img src="/assets/uploads/about-shirt.png" width="200" height="300" layout="responsive"
          alt="and another sample image"></amp-img>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8 p-4 text-center">
        <amp-fit-text class="text-center" width="350" height="100" layout="responsive">
          We're a team of dental professionals who believe, "less is more." Our mission is to create an enjoyable
          experience for everyone who walks through our doors, while delivering the highest level of care.
        </amp-fit-text>
      </div>
    </div>
  </div>

</section>

<!-- Doctors Section -->
<section class="bg-brand-secondary-dark">
   {% include team.html %}
</section>