---
layout: default
permalink: '/about'
title: about
head_title: ''
description: ''
amp_components:
  - amp-carousel
  - amp-fit-text
---

{% for _page in site.pages %}
{% if _page.settings %} 
{% assign settings = _page %} 
{% endif %} 
{% endfor %}


    <amp-carousel width="1280"
    height="720"
    layout="responsive"
    type="slides"
    autoplay
    loop
    animate-in="fade-in"
    animate-in-duration=".5s"
    delay="4000">
    <div class="slide">
      <amp-img src="/assets/images/about-balloons.png"
        width="400"
        height="250"
        layout="responsive"
        animate-in="fade-in"
        animate-in-duration=".5s"
        alt="a sample image"></amp-img>
        <div style="width: 80%; position:absolute; top:10%; left: 10%;">
        <amp-fit-text 
            class="text-light text-center font-weight-bold display-2" width="200" height="50" layout="responsive">
            ABOUT
        </amp-fit-text>
    </div>
  
  </div>

  <div class="slide">
  <amp-img src="assets/images/about-our-community.png"
    width="400"
    height="250"
    layout="responsive"
    animate-in="fade-in"
    animate-in-duration=".5s"
    alt="another sample image"></amp-img>
    <div style="width: 80%; position:absolute; top:10%; left: 10%;">
    <amp-fit-text 
        class="text-light text-center font-weight-bold display-2" width="200" height="50" layout="responsive">
        ABOUT
    </amp-fit-text>
</div>

</div>

</amp-carousel>
  
<!-- Logo Section -->
  <section>
<div class="bg-brand-primary-dark">

  <div class="container-fluid py-4">
    <div class="row">
      <div class="col p-4 text-center">
        <button type="button" class="btn btn-outline-light btn-lg rounded-0 bg-brand-primary-dark"><h2 class="display-4">OUR STORY</h2> </button>
      </div>
    </div>

    <div class="row justify-content-center">

      <div class="col-sm-12 col-md-4 text-center">
        <amp-img src="assets/images/about-hat.png"
        width="200"
        height="300"
        layout="responsive"
        alt="and another sample image"></amp-img>
      </div>

      <div class="col-sm-12 col-md-4 text-center">
        <amp-img src="assets/images/about-shirt.png"
        width="200"
        height="300"
        layout="responsive"
        alt="and another sample image"></amp-img>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-8 p-4 text-center">
        <amp-fit-text 
        class="text-center" width="350" height="100" layout="responsive">
        We're a team of dental professionals who believe, "less is more." Our mission is to create an enjoyable experience for everyone who walks through our doors, while delivering the highest level of care.
    </amp-fit-text>
      </div>

    </div>
    </div>
  </div>
</div>

  </section>

<!-- Doctors Section -->
<section>
<div class="bg-brand-secondary-dark">
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col p-4 text-center">
        <button type="button" class="btn btn-outline-light btn-lg rounded-0 bg-brand-secondary-dark"><h2 class="display-4">OUR TEAM</h2></button>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-sm-8 col-md-3 p-4 text-center justify-content-center">
        <amp-img src="assets/images/DrChristopherDisla.png"
        class="rounded-circle"
        width="50"
        height="50"
        layout="responsive"
        animate-in="fade-in"
        animate-in-duration=".5s"
        alt="and another sample image"></amp-img>
        <div>
          <div class="text-center p-4">
            <h4>Dr. Christopher Disla</h4>
            <div>Anderson LN</div>
            <div>drcdisla@gmail.com</div>
          </div>
        </div>
      </div>

      <div class="col-sm-8 col-md-3 p-4 text-center justify-content-center">
        <amp-img src="assets/images/DrRobinBethell.png"
        class="rounded-circle"
        width="50"
        height="50"
        layout="responsive"
        animate-in="fade-in"
        animate-in-duration=".5s"
        alt="and another sample image"></amp-img>
        <div>
          <div class="text-center p-4">
            <h4>Dr. Robin Bethell</h4>
            <div>Anderson LN / Gattis School RD</div>
            <div>drcdisla@gmail.com</div>
          </div>
        </div>
      </div>

      <div class="col-sm-8 col-md-3 p-4 text-center justify-content-center">
          <amp-img src="assets/images/DrWilliamHughes.png"
          class="rounded-circle"
          width="50"
          height="50"
          layout="responsive"
          animate-in="fade-in"
          animate-in-duration=".5s"
          alt="and another sample image"></amp-img>
        <div>
          <div class="text-center p-4">
            <h4>Dr. William Hughes</h4>
            <div>Anderson LN / Gattis School RD</div>
            <div>wnhughes2001@gmail.com</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-sm-8 col-md-3 p-4 text-center justify-content-center">
        <amp-img src="assets/images/DrBrittniWait.png"
        class="rounded-circle"
        width="50"
        height="50"
        layout="responsive"
        animate-in="fade-in"
        animate-in-duration=".5s"
        alt="and another sample image"></amp-img>
        <div>
          <div class="text-center p-4">
            <h4>Dr. Brittni Wait</h4>
            <div>Anderson LN / Gattis School RD</div>
            <div>bwaitdds@gmail.com</div>
          </div>
        </div>
      </div>

      <div class="col-sm-8 col-md-3 p-4 text-center justify-content-center">
        <amp-img src="assets/images/DrRichardDonkersgood.png"
        class="rounded-circle"
        width="50"
        height="50"
        layout="responsive"
        animate-in="fade-in"
        animate-in-duration=".5s"
        alt="and another sample image"></amp-img>
        <div>
          <div class="text-center p-4">
            <h4>Dr. Richard Donkersgood</h4>
            <div>Research BLVD</div>
            <div>dr.rickdonersgoed@gmail.com</div>
          </div>
        </div>
      </div>

      <div class="col-sm-8 col-md-3 p-4 text-center justify-content-center">
          <amp-img src="assets/images/DrMeganDarnell.png"
          class="rounded-circle"
          width="50"
          height="50"
          layout="responsive"
          animate-in="fade-in"
          animate-in-duration=".5s"
          alt="and another sample image"></amp-img>
        <div>
          <div class="text-center p-4">
            <h4>Dr. Megan Darnell</h4>
            <div>Gattis School Rd</div>
            <div>megandarnell1@gmail.com
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-sm-8 col-md-3 p-4 text-center justify-content-center">
        <amp-img src="assets/images/DrCamilaGarcia.png"
        class="rounded-circle"
        width="50"
        height="50"
        layout="responsive"
        animate-in="fade-in"
        animate-in-duration=".5s"
        alt="and another sample image"></amp-img>
        <div>
          <div class="text-center p-4">
            <h4>Dr. Camila Garcia</h4>
            <div>Anderson LN / Gattis School RD</div>
            <div>camilagarciadmd@gmail.com </div>
          </div>
        </div>
      </div>

      <div class="col-sm-8 col-md-3 p-4 text-center justify-content-center">
        <amp-img src="assets/images/DrSussanHelmick.png"
        class="rounded-circle"
        width="50"
        height="50"
        layout="responsive"
        animate-in="fade-in"
        animate-in-duration=".5s"
        alt="and another sample image"></amp-img>
        <div>
          <div class="text-center p-4">
            <h4>Dr. Sussan Helmick</h4>
            <div>Anderson LN</div>
            <div>sussan.helmick.dds@gmail.com </div>
          </div>
        </div>
      </div>

      <div class="col-sm-8 col-md-3 p-4 text-center justify-content-center">
          <amp-img src="assets/images/DrPruviPandya.png"
          class="rounded-circle"
          width="50"
          height="50"
          layout="responsive"
          animate-in="fade-in"
          animate-in-duration=".5s"
          alt="and another sample image"></amp-img>
        <div>
          <div class="text-center p-4">
            <h4>Dr. Pruvi Pandya</h4>
            <div>Research BLVD</div>
            <div>tejanipandya@gmail.com 
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

</section>







