---
layout: default
permalink: '/dentalinsurance/'
title: Dental Insurance
head_title: ''
description: ''
amp_components:
  - amp-fit-text
---

{% for _page in site.pages %} {% if _page.settings %} {% assign settings = _page
%} {% endif %} {% endfor %}

<!-- Patient Forms Section -->
<section class="bg-brand-primary-dark">
  <div class="container py-4">
    <div class="d-flex justify-content-center">
      <h1 class="display-4 border border-white p-2 mb-4 text-center">
        DENTAL INSURANCE & MEMBERSHIP PLANS
      </h1>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-8 p-4 text-center">
        <amp-img
          src="/assets/uploads/patients-tooth.png"
          width="150"
          height="150"
          layout="fixed"
          animate-in="fade-in"
          animate-in-duration=".5s"
          alt="and another sample image"
        ></amp-img>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-8 p-4 text-center">
        <h2>
          The following are the insurances we will be in network with in 2019
          for PPO policies only:
        </h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-6 col-md-4">
        <h4>&bull; Aetna</h4>
        <h4>
          &bull; Blue Cross Blue Shield (Texas, Illinois, Montana, New Mexico,
          Oklahoma)
        </h4>
        <h4>&bull; Cigna</h4>
        <h4>&bull; CompuSys / Erisa (City of Austin)</h4>
        <h4>&bull; Delta Dental (All States Included)</h4>
        <h4>&bull; GEHA Connection</h4>
      </div>
      <div class="col-sm-6 col-md-4">
        <h4>&bull; Guardian</h4>
        <h4>&bull; HAAM</h4>
        <h4>&bull; Metlife</h4>
        <h4>&bull; Principal</h4>
        <h4>&bull; Sun Life Financial</h4>
        <h4>&bull; Unum / Always Care / Starmount</h4>
        <h4>&bull; United Health Care</h4>
      </div>
    </div>
  </div>
</section>
<!-- Forms Section Spanish-->
<section class="bg-brand-secondary-light">
  <div class="container p-4">
    <div class="d-flex justify-content-center">
      <h2 class="border border-white p-2 mb-4">FFD PLANS</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-8 p-4 text-center">
        <h2>
          We offer simple and affordable membership plans that cover all your
          dental care needs:​
        </h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-6 col-md-6 col-lg-3 p-2 text-center">
        <div class="card text-dark rounded-0 p-2 pt-4">
          <h4 class="card-title font-weight-bold">Child</h4>
          <h6 class="card-subtitle mb-2 text-muted">(12 and younger)</h6>
          <hr />
          <h5 class="card-title font-weight-bold">Included Services:</h5>
          <div
            class="card-body p-0 text-md-left"
            style="height: 35vh; list-style-position: inside;"
          >
            <ul class="card-text text-muted p-2">
              <li>2 Professional cleanings</li>
              <li>1 Periodic exam</li>
              <li>1 Comprehensive exam</li>
              <li>2 Fluoride treatments</li>
            </ul>
          </div>
          <hr />
          <h6>You pay:</h6>
          <h3 class="text-brand-secondary-light font-weight-bold">$252/yr</h3>
          <h6>Value*:</h6>
          <h3 class="text-brand-secondary-light font-weight-bold">$338</h3>
          <h6>You Save:</h6>
          <h3 class="text-brand-secondary-light font-weight-bold">$350</h3>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 p-2 text-center">
        <div class="card text-dark rounded-0 p-2 pt-4">
          <h4 class="card-title font-weight-bold">Teen</h4>
          <h6 class="card-subtitle mb-2 text-muted">(13 and older)</h6>
          <hr />
          <h5 class="card-title font-weight-bold">Included Services:</h5>
          <div
            class="card-body p-0 text-md-left"
            style="height: 35vh; list-style-position: inside;"
          >
            <ul class="card-text text-muted p-2">
              <li>2 Professional cleanings</li>
              <li>1 Periodic exam</li>
              <li>1 Comprehensive exam</li>
              <li>2 Fluoride treatments</li>
              <li>8 Sealants on perm molars</li>
              <li>3 Routine x-rays</li>
            </ul>
          </div>
          <hr />
          <h6>You pay:</h6>
          <h3 class="text-brand-secondary-light font-weight-bold">$300/yr</h3>
          <h6>Value*:</h6>
          <h3 class="text-brand-secondary-light font-weight-bold">$956</h3>
          <h6>You Save:</h6>
          <h3 class="text-brand-secondary-light font-weight-bold">$350</h3>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 p-2 text-center">
        <div class="card text-dark rounded-0 p-2 pt-4">
          <h4 class="card-title font-weight-bold">Adult</h4>
          <h6 class="card-subtitle mb-2 text-muted">(18 and older)</h6>
          <hr />
          <h5 class="card-title font-weight-bold">Included Services:</h5>
          <div
            class="card-body p-0 text-md-left"
            style="height: 35vh; list-style-position: inside;"
          >
            <ul class="card-text text-muted p-2">
              <li>2 Professional cleanings</li>
              <li>1 Periodic exam</li>
              <li>1 Comprehensive exam</li>
              <li>2 Fluoride treatments</li>
              <li>3 Routine x-rays</li>
            </ul>
          </div>
          <hr />
          <h6>You pay:</h6>
          <h3 class="text-brand-secondary-light font-weight-bold">$348/yr</h3>
          <h6>Value*:</h6>
          <h3 class="text-brand-secondary-light font-weight-bold">$698</h3>
          <h6>You Save:</h6>
          <h3 class="text-brand-secondary-light font-weight-bold">$350</h3>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 p-2 text-center">
        <div class="card text-dark rounded-0 p-2 pt-4">
          <h4 class="card-title font-weight-bold">Perio</h4>
          <h6 class="card-subtitle mb-2 text-muted">(18 and older)</h6>
          <hr />
          <h5 class="card-title font-weight-bold">Included Services:</h5>
          <div
            class="card-body p-0 text-md-left"
            style="height: 35vh; list-style-position: inside;"
          >
            <ul class="card-text text-muted p-2">
              <li>2 Professional cleanings</li>
              <li>1 Comprehensive exam</li>
              <li>2 Fluoride treatments</li>
              <li>3 Routine x-rays</li>
            </ul>
          </div>
          <hr />
          <h6>You pay:</h6>
          <h3 class="text-brand-secondary-light font-weight-bold">$600/yr</h3>
          <h6>Value*:</h6>
          <h3 class="text-brand-secondary-light font-weight-bold">$872</h3>
          <h6>You Save:</h6>
          <h3 class="text-brand-secondary-light font-weight-bold">$350</h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-8 p-4 text-center">
        <h4 class="font-weight-bold">
          Plus, all dental care plans include: 25% off all other services.
        </h4>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-8 p-4 text-center">
        <div class="card bg-brand-primary-dark rounded-0 p-2 pt-4">
          <h3 class="font-weight-bold">How do I purchase my FFD plan?​</h3>
          <div class="row justify-content-center">
            <div class="col-xs-6 col-sm-6 col-md-4 p-2 text-left">
              <ul class="card-text text-white p-2 list-unstyled">
                <li>
                  1. visit
                  <a href="http://www.kleer.com" target="_blank">kleer.com</a>
                </li>
                <li>2. enter office code MN9K</li>
                <li>3. follow easy instructions</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-8 p-4 text-center">
        <h2>
          What else should I know?
        </h2>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-sm-6 col-md-4">
        <h5>
          &bull; FFD membership plan is not insurance and is not a qualified
          health plan under the Affordable Care Act.
        </h5>
        <h5>
          &bull; FFD membership plan includes a 30 day money back guarantee. You
          can receive a full refund up to 30 days after purchase if no benefits
          of the plan have been used. Refunds after 30 days will be at the
          discretion of our practice.
        </h5>
        <h5>
          &bull; Payment for any treatment(s) not included in the membership
          plan is due at the time of service.
        </h5>
        <h5>
          &bull; The membership plan benefits may not be combined with insurance
          or other offers or discounts
        </h5>
      </div>
      <div class="col-sm-6 col-md-4">
        <h5>
          &bull; FFD membership plan does not cover procedures completed by
          specialists outside our practice.
        </h5>
        <h5>&bull; Covers preventive care</h5>
        <h5>&bull; 25% off all other dental services</h5>
        <h5>&bull; Benefits start immediately!</h5>
        <h5>
          &bull; There is no waiting period, deductibles, copays, or annual
          maximums
        </h5>
        <h5>&bull; Membership runs for 12 months from the date of purchase</h5>
        <h5>&bull; There are no deductibles, copays, or annual maximums</h5>
        <h5>&bull; Includes 100% price transparency</h5>
      </div>
    </div>
  </div>
</section>
