---
layout: default
permalink: "/invisalign/"
title: Invisalign
head_title: ''
description: ''
amp_components:
- amp-carousel
- amp-fit-text
patients:
- permalink: "/invisalign/brittani/"
  name: Brittani
  photo: assets/uploads/invisalign-Brittani.png
  description: 12 trays, 24 weeks
  before_images:
  - assets/uploads/brittani-before-1.jpg
  - assets/uploads/brittani-before-2.jpg
  after_images:
  - assets/uploads/brittani-after-1.jpg
  - assets/uploads/brittani-after-2.jpg
- permalink: "/invisalign/gage/"
  name: Gage
  photo: assets/uploads/invisalign-Gage.png
  description: ''
  before_images: []
  after_images: []
- permalink: "/invisalign/lilian/"
  name: Lilian
  photo: "/assets/uploads/lilian-main.jpg"
  description: ''
  before_images: []
  after_images: []
- permalink: "/invisalign/jane/"
  name: Jane
  photo: "/assets/uploads/jane-main.jpg"
  description: ''
  before_images: []
  after_images: []
- permalink: "/invisalign/janan/"
  name: Janan
  photo: "/assets/uploads/janan-main.jpg"
  description: ''
  before_images: []
  after_images: []
- permalink: "/invisalign/evan/"
  name: Evan
  photo: "/assets/uploads/evan-main.jpg"
  description: ''
  before_images: []
  after_images: []
- permalink: "/invisalign/lisa/"
  name: Lisa
  photo: "/assets/uploads/lisa-main.jpg"
  description: ''
  before_images: []
  after_images: []
- permalink: "/invisalign/melissa/"
  name: melissa
  photo: "/assets/uploads/melissa-main.jpg"
  description: ''
  before_images: []
  after_images: []
- permalink: "/invisalign/jeri/"
  name: Jeri
  photo: "/assets/uploads/jeri-main.jpg"
  description: ''
  before_images: []
  after_images: []



---
<img src="/assets/uploads/lilian-main-1.jpg"><img src="/assets/uploads/jane-main.jpg"><img src="/assets/uploads/janan-main.jpg"><img src="/assets/uploads/evan-main.jpg"><img src="/assets/uploads/lisa-main-1.jpg"><img src="/assets/uploads/melissa-main.jpg"><img src="/assets/uploads/jeri-main.jpg">{% for _page in site.pages %}
{% if _page.settings %}
{% assign settings = _page %}
{% endif %}
{% endfor %}


<amp-carousel width="1280" height="720" layout="responsive" type="slides" autoplay loop animate-in="fade-in"
  animate-in-duration=".5s" delay="4000">
  <div class="slide">
    <amp-img src="/assets/uploads/invisalign-hero.png" width="400" height="250" layout="responsive" animate-in="fade-in"
      animate-in-duration=".5s" alt="a sample image"></amp-img>
    <div style="width: 80%; position:absolute; top:10%; left: 10%;">
      <amp-fit-text class="text-light text-center font-weight-bold display-2" width="200" height="50"
        layout="responsive">
        INVISALIGN - THE NEXT BIG THING
      </amp-fit-text>
    </div>

  </div>

</amp-carousel>

<!-- Logo Section -->
<section>
  <div class="bg-brand-primary-dark">

    <div class="container-fluid py-4">
      <div class="row">
        <div class="col p-4 text-center">
          <button type="button" class="btn btn-outline-light btn-lg rounded-0 bg-brand-primary-dark">
            <h2 class="display-4">INVISALIGN</h2>
          </button>
        </div>
      </div>

      <div class="row justify-content-center">

        <div class="col-sm-12 col-md-6 p-0 text-center">
          <amp-img src="/assets/uploads/invisalign-DrRobinBethell.png" width="600" height="850" layout="responsive"
            alt="and another sample image"></amp-img>
        </div>

        <div class="col-sm-10 col-md-6 p-6 text-center">
          <amp-fit-text class="text-center" width="350" height="100" max-font-size="42" layout="responsive">
            Invisalign® Better: Predictable, Fast, and Lead by Expert Platinum Dentists
          </amp-fit-text>

          <amp-fit-text class="text-center fixedblockn p-4" width="200" height="90" min-font-size="14"
            max-font-size="28" layout="responsive">
            Led by Dr. Robin Bethell, VIP Invisalign Diamond level provider, Board member of the American Academy of
            Clear Aligners, Invisalign consultant and coach to dentists all over Texas. Dr. Bethell believes that your
            best smile can be achieved naturally at any age. Adult orthodontics reduces risks of periodontal disease,
            abnormal tooth wear, and prevents the results of aging smiles (we don't want to look long in the tooth) and
            allows us to restore them to their ideal function and aesthetics.
          </amp-fit-text>

          <amp-fit-text class="text-center fixedblock p-4" width="200" height="60" min-font-size="14" max-font-size="28"
            layout="responsive">
            All clear aligners are not equal. Patient experience and results can vary greatly depending on the doctor
            and the products used. There is no substitute for experience. Dr. Bethell has been providing Invisalign
            since 2006, and designs over 100 cases per month. He believes orthodontics can be yours with lower costs,
            fewer dental appointments, and better long term results.
          </amp-fit-text>

          <amp-fit-text class="text-center fixedblock p-4" width="200" height="30" min-font-size="14" max-font-size="28"
            layout="responsive">
            We utilize iTero technology at all 3 locations, meaning extremely accurate scans and no goopy impressions.
          </amp-fit-text>

          <div class="container">
            <div class="row">
              <div class="col-6">
                <amp-img src="/assets/uploads/invisalign-logo-itero.png" width="100" height="50" layout="responsive"
                  alt="and another sample image"></amp-img>
              </div>
              <div class="col-6">
                <amp-img src="/assets/uploads/invisalign-logo-AACA.png" width="100" height="50" layout="responsive"
                  alt="and another sample image"></amp-img>

              </div>
            </div>

          </div>


        </div>


      </div>
    </div>
  </div>

</section>

<!-- Before & After Section -->
<section class="bg-brand-secondary-dark pb-4">
  <div class="d-flex justify-content-center">
    <h1 class="display-4 border border-white p-2 mb-4">BEFORE &amp; AFTER</h1>
  </div>

  <div class="row no-gutters justify-content-center">
    {% for patient in page.patients %}
    <div class="col-sm-10 col-md-3 m-2 text-center justify-content-center">
      <a href="{{ patient.permalink }}">
        <amp-img src="/{{ patient.photo }}" width="50" height="55" layout="responsive" animate-in="fade-in"
          animate-in-duration=".5s" alt="{{ patient.name }}"></amp-img>
      </a>
    </div>
    {% endfor %}
  </div>
</section>