---
layout: default
permalink: '/locations/'
title: Locations
head_title: ''
description: ''
amp_components:
- amp-fit-text
---

{% for _page in site.pages %}
{% if _page.settings %}
{% assign settings = _page %}
{% endif %}
{% endfor %}

<!-- Logo Section -->
<section>
  <div class="bg-brand-primary-dark">

    <div class="container-fluid py-4">
      <div class="row">
        <div class="col p-4 text-center">
          <div class="d-flex justify-content-center">
            <h1 class="display-4 border border-white p-4 mb-4">LOCATIONS</h1>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-sm-10 col-md-8 p-4 text-center">
          <amp-fit-text class="text-center" width="350" height="100" layout="responsive">
            Come visit us at any of our convenient locations throughout Austin TX and the surrounding metropolitan area.
          </amp-fit-text>
        </div>

      </div>
    </div>
  </div>

</section>

<!-- Locations Section -->
<section class="bg-brand-secondary-dark">
  <div class="row">
    <div class="col p-4 text-center">
      <div class="d-flex justify-content-center">
        <h1 class="display-4 border border-white p-4 mb-4">COME VISIT</h1>
      </div>
    </div>
  </div>
  {% include locations.html %}
</section>

<!-- <section>
  <div class="bg-brand-primary-dark">
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col p-4 text-center">
          <amp-iframe width="600" height="450" sandbox="allow-scripts allow-same-origin" layout="responsive"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3442.7002961432327!2d-97.73658518452706!3d30.35946641057617!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644cba5af6dfaab%3A0xc66ea7ebbf4a093a!2sForest%20Family%20Dentistry!5e0!3m2!1sen!2sus!4v1576891492870!5m2!1sen!2sus">
          </amp-iframe>
        </div>
      </div>

    </div>
  </div>
</section> -->