---
layout: default
permalink: "/patientforms/"
title: Patient Forms
head_title: ''
description: ''
amp_components:
- amp-fit-text
form_groups:
  english:
  - group: Forms for FFD Anderson Lane
    forms:
    - name: Online Registration
      link: https://opendentalsoft.com/WebFormsGWT/GWT/WebForms/WebForms.html?DentalOfficeID=12410&WebSheetDefID=17755
  - group: Forms for FFD Burnet Rd
    forms:
    - name: Online Registration
      link: https://patientviewer.com/WebFormsGWT/GWT/WebForms/WebForms.html?DOID=58812&WSDID=35500
  spanish:
  - group: Formas para FFD en Anderson Lane
    forms:
    - name: Registro del Paciente
      link: https://patientviewer.com/WebFormsGWT/GWT/WebForms/WebForms.html?DOID=12410&WSDID=28315

---
{% for _page in site.pages %}
{% if _page.settings %}
{% assign settings = _page %}
{% endif %}
{% endfor %}

<!-- Patient Forms Section -->
<section class="bg-brand-primary-dark">
  <div class="container py-4">
    <div class="d-flex justify-content-center">
      <h1 class="display-4 border border-white p-2 mb-4">PATIENT FORMS</h1>
    </div>

    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-8 p-4 text-center">
        <amp-img src="/assets/images/patients-form.webp" width="150" height="150" layout="fixed" animate-in="fade-in"
          animate-in-duration=".5s" alt="and another sample image"></amp-img>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-8 p-4 text-center">
        <h2>
          After making your appointment, simply choose your office, click each of the links, fill out the required
          fields, and hit submit! When we see you at our offices, we’ll have them ready for you to approve and sign.
          Thank you!
        </h2>
      </div>
    </div>

  </div>

</section>

<!-- Forms Section -->
<section class="bg-brand-primary-dark">
  <div class="container p-4">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <amp-accordion expand-single-section>
          {% for form_group in page.form_groups.english %}
            <section>
              <button type="button" class="btn btn-outline-light btn-lg btn-block rounded-0 bg-brand-primary-dark">
                <h2>{{ form_group.group }}</h2>
              </button>
              <div class="justify-content-center mt-1">
                {% for form in form_group.forms %}
                  <a class="btn btn-sm btn-block rounded-0 mt-2 mb-2" href="{{ form.link }}" target="_blank" rel="noopener">
                    <span class="h3">{{ form.name }}</span>
                  </a>
                {% endfor %}
              </div>
            </section>
          {% endfor %}
        </amp-accordion>
      </div>
    </div>
  </div>

</section>


<!-- Forms Section Spanish-->
<section class="bg-brand-secondary-light">
  <div class="container p-4">

    <div class="d-flex justify-content-center">
      <h2 class="border border-white p-2 mb-4">FORMAS EN ESPAÑOL</h2>
    </div>
    <h3 class="text-center">
      Por favor seleccione la oficina donde ha programado su cita:
    </h3>
    <h4 class="text-center">
      ¡Después de hacer una cita, favor de llenar las siguentes formas! Cuándo llegue a nuestra oficina, las tendremos listas para su aprobación y firma. ¡Gracias!
    </h4>
    <div class="row justify-content-center">
      <div class="col-md-10">
        <amp-accordion expand-single-section>
          {% for form_group in page.form_groups.spanish %}
            <section>
              <button type="button" class="btn btn-outline-light btn-lg btn-block rounded-0 bg-brand-primary-dark">
                <h2>{{ form_group.group }}</h2>
              </button>
              <div class="justify-content-center mt-1">
                {% for form in form_group.forms %}
                  <a class="btn btn-sm btn-block rounded-0 hover-brand-primary-dark mt-2 mb-2" href="{{ form.link }}" target="_blank" rel="noopener">
                    <span class="h3">{{ form.name }}</span>
                  </a>
                {% endfor %}
              </div>
            </section>
          {% endfor %}
        </amp-accordion>
      </div>
    </div>
  </div>

</section>