---
layout: default
permalink: '/patients'
title: patients
head_title: ''
description: ''
amp_components:
- amp-fit-text
---

{% for _page in site.pages %}
{% if _page.settings %} 
{% assign settings = _page %} 
{% endif %} 
{% endfor %}
  
<!-- Our Team Section -->
  <section>
<div class="bg-brand-primary-dark">

  <div class="container-fluid py-4">
    <div class="row">
      <div class="col p-4 text-center">
        <button type="button" class="btn btn-outline-light btn-lg rounded-0 bg-brand-primary-dark"><h2 class="display-4">PATIENTS</h2> </button>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-8 p-4 text-center">
        <amp-fit-text 
        class="text-center" width="350" height="100" layout="responsive">
        Easy Access to Dental Insurance, Membership Plans, Patient Forms, Appoints, and more!
    </amp-fit-text>
      </div>

    </div>
    </div>
  </div>

  </section>

<!-- Patients Section -->
<section>
  <div class="bg-brand-secondary-dark">
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col p-4 text-center">
          <button type="button" class="btn btn-outline-light btn-lg rounded-0 bg-brand-secondary-dark"><h2 class="display-4">Forms & Information</h2></button>
        </div>
      </div>
    </div>

      <div class="container-fluid p-md-5">
      <div class="row justify-content-center">
        <div class="col-sm-3 col-md-3 p-sm-2 p-md-5 text-center">
          <a href="#">
          <amp-img src="assets/images/patients-tooth.webp"
          width="150"
          height="150"
          layout="fixed"
          animate-in="fade-in"
          animate-in-duration=".5s"
          alt="and another sample image"></amp-img>
          <div>
            <div class="text-center p-4">
              <h4>Dental Insurance & Membership Plans</h4>
            </div>
          </div>
        </a>
        </div>
  
        <div class="col-sm-3 col-md-3 p-sm-2 p-md-5 text-center">
          <a href="#">
            <amp-img src="assets/images/patients-form.webp"
            width="150"
            height="150"
            layout="fixed"
            animate-in="fade-in"
            animate-in-duration=".5s"
            alt="and another sample image"></amp-img>
            <div>
              <div class="text-center p-4">
                <h4>Patient Forms</h4>
              </div>
            </div>
          </a>
        </div>
      </div>
  
      <div class="row justify-content-center">
        <div class="col-sm-3 col-md-3 p-sm-2 p-md-5 text-center">
          <a href="#">
            <amp-img src="assets/images/patients-calendar.webp"
            width="150"
            height="150"
            layout="fixed"
            animate-in="fade-in"
            animate-in-duration=".5s"
            alt="and another sample image"></amp-img>
          <div>
            <div class="text-center p-4">
              <h4>Appointments</h4>
            </div>
          </div>
          </a>
      </div>

        <div class="col-sm-3 col-md-3 p-sm-2 p-md-5 text-center">
          <a href="#">
            <amp-img src="assets/images/patients-accounts.webp"
            width="150"
            height="150"
            layout="fixed"
            animate-in="fade-in"
            animate-in-duration=".5s"
            alt="and another sample image"></amp-img>
            <div>
              <div class="text-center p-4">
                <h4>Accounts & Payments</h4>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  
  </section>





