---
layout: default
permalink: '/services'
title: services
head_title: ''
description: ''
amp_components:
- amp-fit-text
---

{% for _page in site.pages %}
{% if _page.settings %} 
{% assign settings = _page %} 
{% endif %} 
{% endfor %}
  
<!-- Services Section -->
  <section>
<div class="bg-brand-primary-dark">

  <div class="container-fluid py-4">
    <div class="row">
      <div class="col p-4 text-center">
        <button type="button" class="btn btn-outline-light btn-lg rounded-0 bg-brand-primary-dark"><h2 class="display-4">SERVICES</h2> </button>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-sm-10 col-md-8 p-4 text-center">
        <amp-fit-text 
        class="text-center pb-5 mb-4" width="350" height="100" layout="responsive">
        At Forest Family Dentistry, it is our goal to provide the absolute best dental service at an affordable price.
      </amp-fit-text>
      <amp-fit-text 
      class="text-center pb-5" width="350" height="120" layout="responsive">
We strive to give the families of North Austin and Allandale complete oral care under one roof.  The American Dental Association has provided a great resource for you and your family to learn about proper dental care and check symptoms and treatment options.  Check it out at <a href="#">MouthHealthy.org</a>
    </amp-fit-text>
      </div>

    </div>
    </div>
  </div>

  </section>

<!-- Patients Section -->
<section>
  <div class="bg-brand-secondary-dark">
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col p-4 text-center">
          <button type="button" class="btn btn-outline-light btn-lg rounded-0 bg-brand-secondary-dark"><h2 class="display-4">Procedures</h2></button>
        </div>
      </div>
    </div>

      <div class="container-fluid p-4 p-md-5">
      <div class="row justify-content-center">
        <div class="col-sm-4 col-md-4 p-sm-2 p-md-5 text-center">
          <div class="text-center p-4">
            <h4>SEALANTS</h4>
          </div>
          <a href="#">
            <button type="button" class="btn btn-outline-light rounded-0 bg-brand-primary-dark"><h5 class="text-nowrap">Read More</h5> </button>
        </a>
        </div>
  
        <div class="col-sm-4 col-md-4 p-sm-2 p-md-5 text-center">
          <div class="text-center p-4">
            <h4>CLEANINGS</h4>
          </div>
          <a href="#">
            <button type="button" class="btn btn-outline-light rounded-0 bg-brand-primary-dark"><h5 class="text-nowrap">Read More</h5 class="text-nowrap"> </button>
        </a>
        </div>

        <div class="col-sm-4 col-md-4 p-sm-2 p-md-5 text-center">
          <div class="text-center p-4">
            <h4>INVISALIGN</h4>
          </div>
          <a href="#">
            <button type="button" class="btn btn-outline-light rounded-0 bg-brand-primary-dark"><h5 class="text-nowrap">Read More</h5 class="text-nowrap"> </button>
        </a>
        </div>
      </div>
  
      <div class="row justify-content-center align-items-center">
        <div class="col-sm-4 col-md-4 p-sm-2 p-md-5 text-center">
          <div class="text-center p-4">
            <h4>BRACES</h4>
          </div>
          <a href="#">
            <button type="button" class="btn btn-outline-light rounded-0 bg-brand-primary-dark"><h5 class="text-nowrap">Read More</h5> </button>
        </a>
        </div>

        <div class="col-sm-4 col-md-4 p-sm-2 p-md-5 text-center">
          <div class="text-center p-4">
            <h4>WHITENING</h4>
          </div>
          <a href="#">
            <button type="button" class="btn btn-outline-light rounded-0 bg-brand-primary-dark"><h5 class="text-nowrap">Read More</h5> </button>
        </a>
        </div>

        <div class="col-sm-4 col-md-4 p-sm-2 p-md-5 text-center">
          <div class="text-center p-4">
            <h4>CROWNS & BRIDGES</h4>
          </div>
          <a href="#">
            <button type="button" class="btn btn-outline-light rounded-0 bg-brand-primary-dark"><h5 class="text-nowrap">Read More</h5> </button>
        </a>
        </div>

      </div>

      <div class="row justify-content-center">
        <div class="col-sm-4 col-md-4 p-sm-2 p-md-5 text-center">
          <div class="text-center p-4">
            <h4>ROOT CANAL THERAPY</h4>
          </div>
          <a href="#">
            <button type="button" class="btn btn-outline-light rounded-0 bg-brand-primary-dark"><h5 class="text-nowrap">Read More</h5> </button>
        </a>
        </div>

        <div class="col-sm-4 col-md-4 p-sm-2 p-md-5 text-center">
          <div class="text-center p-4">
            <h4>GUM THERAPY</h4>
          </div>
          <a href="#">
            <button type="button" class="btn btn-outline-light rounded-0 bg-brand-primary-dark"><h5 class="text-nowrap">Read More</h5> </button>
        </a>
        </div>

        <div class="col-sm-4 col-md-4 p-sm-2 p-md-5 text-center">
          <div class="text-center p-4">
            <h4>CONSERVATIVE WHITE FILLINGS</h4>
          </div>
          <a href="#">
            <button type="button" class="btn btn-outline-light rounded-0 bg-brand-primary-dark"><h5 class="text-nowrap">Read More</h5> </button>
        </a>
        </div>
        
      </div>

      <div class="row justify-content-center">
        <div class="col-sm-4 col-md-4 p-sm-2 p-md-5 text-center">
          <div class="text-center p-4">
            <h4>IMPLANTS</h4>
          </div>
          <a href="#">
            <button type="button" class="btn btn-outline-light rounded-0 bg-brand-primary-dark"><h5 class="text-nowrap">Read More</h5> </button>
        </a>
        </div>

        <div class="col-sm-4 col-md-4 p-sm-2 p-md-5 text-center">
          <div class="text-center p-4">
            <h4>THIRD MOLAR EXTRACTIONS</h4>
          </div>
          <a href="#">
            <button type="button" class="btn btn-outline-light rounded-0 bg-brand-primary-dark"><h5 class="text-nowrap">Read More</h5> </button>
        </a>
        </div>

        <div class="col-sm-4 col-md-4 p-sm-2 p-md-5 text-center">
          <div class="text-center p-4">
            <h4>IMPLANT SUPPORTED DENTISTRY</h4>
          </div>
          <a href="#">
            <button type="button" class="btn btn-outline-light rounded-0 bg-brand-primary-dark"><h5 class="text-nowrap">Read More</h5> </button>
        </a>
        </div>
        
      </div>

      <div class="row justify-content-center">
        <div class="col-sm-4 col-md-4 p-sm-2 p-md-5 text-center">
          <div class="text-center p-4">
            <h4>DENTURES</h4>
          </div>
          <a href="#">
            <button type="button" class="btn btn-outline-light rounded-0 bg-brand-primary-dark"><h5 class="text-nowrap">Read More</h5> </button>
        </a>
        </div>

        <div class="col-sm-4 col-md-4 p-sm-2 p-md-5 text-center">
          <div class="text-center p-4">
            <h4>BASIC ORAL SURGERY</h4>
          </div>
          <a href="#">
            <button type="button" class="btn btn-outline-light rounded-0 bg-brand-primary-dark"><h5 class="text-nowrap">Read More</h5> </button>
        </a>
        </div>

        <div class="col-sm-4 col-md-4 p-sm-2 p-md-5 text-center">
          <div class="text-center p-4">
            <h4>AND MUCH MORE...</h4>
          </div>
          <a href="#">
            <button type="button" class="btn btn-outline-light rounded-0 bg-brand-primary-dark"><h5 class="text-nowrap">Read More</h5> </button>
        </a>
        </div>
        
      </div>

    </div>
  </div>
  
  </section>





