{% for _page in site.pages %}
{% if _page.settings %}
{% assign settings = _page %}
{% endif %}
{% endfor %}

<footer class="bg-brand-primary-light">
  <div class="py-4 container">
    <div class="p-4 text-center">
      <div class="text-dark font-weight-bold display-2 font-family-alt">
        forest family
      </div>
    </div>

    <div class="mb-3">
      <img src="{{ settings.seal }}"/>
    </div>

    <div class="p-4 text-center">
      <div class="text-dark font-weight-bold display-4">
        SHARE WITH US
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-3 d-flex justify-content-center">
        <amp-img src="/assets/uploads/facebook-logo.png" width="40" height="40" layout="fixed"></amp-img>
      </div>
      <div class="col-3 d-flex justify-content-center">
        <amp-img src="/assets/uploads/insta-logo.png" width="40" height="40" layout="fixed"></amp-img>
      </div>
      <div class="col-3 d-flex justify-content-center">
        <amp-img src="/assets/uploads/youtube-logo.png" width="40" height="40" layout="fixed"></amp-img>
      </div>
      <div class="col-3 d-flex justify-content-center">
        <amp-img src="/assets/uploads/PIP-logo.png" width="40" height="40" layout="fixed"></amp-img>
      </div>
    </div>
  </div>
  <div class="text-center bg-brand-primary-dark">
    <small class="text-muted">
      Copyright © {{ site.time | date: '%Y' }} {{ settings.footer_text | liquify }}
    </small>
  </div>
</footer>