{% for _page in site.pages %}
{% if _page.settings %}
{% assign settings = _page %}
{% endif %}
{% endfor %}

<div class="container py-4">
  <div class="row">
    {% for location in settings.locations %}
      <div class=" col-lg-3 col-md-6 text-center">
        <amp-img src="{{location.image}}" width="300" height="200" layout="responsive"
          animate-in="fade-in" animate-in-duration=".5s" alt="and another sample image"></amp-img>
        <div>
          <div class="text-center p-4">
            <h3><a href="{{ location.url }}" target="_blank" rel="noopener">{{ location.name }}</a></h3>
            <div class="border-top my-0"></div>
            <div>{{ location.street }}</div>
            <div>{{ location.city }}, {{ location.state }} {{ lcoation.postal }}</div>
            <div>{{ location.number }}</div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="text-center mt-4 p-4">
    {{ settings.hours }}
  </div>
</div>
