---
layout: default
---
{% for _page in site.pages %}
  {% if _page.settings %}
    {% assign settings = _page %}
  {% endif %}
  {% if _page.permalink == '/invisalign/' %}
    {% for _invisalign in _page.patients %}
      {% if _invisalign.permalink == page.permalink %}
        {% assign invisalign = _invisalign %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

<section class="row px-0 pl-3 pr-3 pr-md-3 d-flex justify-content-between" style="background-image: url(/assets/uploads/gray-topo-bg.png); background-size: cover; background-position-x: center;">
  <div class="col-md-5 px-0 ml-3 mr-3 mr-md-3 mt-3" style="background-image: url({{ invisalign.photo }}); background-repeat: no-repeat; background-size: contain; background-position-x: center; min-height: 50vh"></div>
  <div class="col-md-6 pt-5">
    <h1 class="text-white text-center">{{ invisalign.name }}</h1>
    <h2 class="text-white text-center">{{ invisalign.description }}</h2>
    <div class="d-flex justify-content-center">
      <hr class="border-bottom border-white" style="border-bottom-width: 5px; width: 50%" />
    </div>
    <div class="d-flex justify-content-center mt-3">
      <h3 class="border border-white p-2 mb-4 text-white">BEFORE</h3>
    </div>
    {% for image in invisalign.before_images %}
      <div class="mr-3 mb-3">
        <amp-img src="{{image}}" width="275" layout="responsive"
        animate-in="fade-in" animate-in-duration=".5s" alt="before-{{ forloop.index }}"></amp-img>
      </div>
    {% endfor %}
    <div class="d-flex justify-content-center mt-3">
      <h3 class="border border-white p-2 mb-4 text-white">AFTER</h3>
    </div>
    {% for image in invisalign.after_images %}
      <div class="mr-3 mb-3">
        <amp-img src="{{image}}" width="275" layout="responsive"
        animate-in="fade-in" animate-in-duration=".5s" alt="after-{{ forloop.index }}"></amp-img>
      </div>
    {% endfor %}
  </div>
</section>